$yellow: #FAFF00;
$cyan: #00FFFF;
$magenta: #FF00E5;

$font-normal:  'Inconsolata Regular';
$font-bold: 'Inconsolata';

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-base: $font-weight-normal;

$break-xs: '320px';
$break-sm: '576px';
$break-md: '767px';
$break-lg: '992px';
$break-xl: '1200px';

$spacer-left: '192px';
$spacer-width: '128px';
$spacer-height:'150px'; 